.main{
    height: 100vh;
    background-color: black;
    color: lavenderblush;
    
}

.particle{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 97%;
}

.gap{
    height:33%;
}

span{
    color: #a7ff83;
}

